<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.EmployeeMapper">
    <select id="pageQuery" resultType="com.sky.entity.Employee">
        select id, name, username, phone, sex, id_number, status, create_time, update_time, create_user, update_user
        from employee
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
        </where>
        order by create_time desc
    </select>

    <update id="update">
        update employee
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <!-- 姓名 -->
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <!-- 使用者名稱（帳號） -->
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <!-- 電話 -->
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <!-- 性別 -->
            <if test="sex != null">
                sex = #{sex},
            </if>
            <!-- 身分證號 -->
            <if test="idNumber != null and idNumber != ''">
                id_number = #{idNumber},
            </if>
            <!-- 更新時間（強制更新為當前時間） -->
            update_time = now(),
            <!-- 更新人（通常從 ThreadLocal 取得） -->
            <if test="updateUser != null">
                update_user = #{updateUser}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>
